body {
  background-color: #141414;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: small;
}

header {
  width: 80%;
  height: 70px;
  background-color: #141414;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 162px;
  height: 60px;
}

nav {
  width: 1040px;
  height: 50px;
  background-color: #141414;
  display: flex;
  justify-content: end;
}
.navegacion-letra {
  font-size: 16px;
  color: #c2c0b6;
  text-decoration: none;
}
.letra-probar {
  font-family: inherit;
  font-size: large;
  color: #141414;
  text-decoration: none;
  font-size: 16px;
  font-weight: 480;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li {
  margin-right: 30px;
}
.div-ventas {
  height: 35px;
  width: 200px;
  border-radius: 8px;
  border: 0.5px solid #c2c0b6;
  margin-top: 3.5px;

  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: 0.2s all ease-in-out;
  font-weight: 480;
}
.div-pruebas {
  height: 35px;
  width: 150px;
  border-radius: 8px;
  border: 0.2px solid #141414;
  margin-top: 3.5px;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s all ease-in-out;
  font-weight: 420;
}
.div-ventas:hover {
  background-color: black;
  border: 0.5px solid black;
  transition: 0.2s all ease-in-out;
}
.div-pruebas:hover {
  background-color: rgba(255, 255, 255, 0.89);
  transition: 0.2s all ease-in-out;
}
